*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#1e1e2f;
}

.calculator{
    background:#2c2c3e;
    padding:20px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

#display{
    width:100%;
    height:70px;
    border:none;
    border-radius:10px;
    margin-bottom:15px;
    text-align:right;
    font-size:28px;
    padding:10px;
    background:#f4f4f4;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}

button{
    height:60px;
    border:none;
    border-radius:12px;
    font-size:20px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
}

button:active{
    transform:scale(0.95);
}
button:first-child{
    background:#ff4d4d;
    color:white;
}

button:nth-child(2){
    background:#ffa500;
    color:white;
}